                <div class="grid_3 dotted-border-top">
                <h2>Get in Touch</h2><br />
                <p>
                Looking for design work?<br />
                Want to know more about our services?<br />
                <br />
                Contact us on: <br />
                020 7100 1243<br />
                info@fraichedesign.com
                </p>
                </div>
            
                <div class="grid_3 dotted-border-top">
                <h2>Join Us</h2>
                <p><br />
                Become part of the Fraiche design team <br />
                and work with on exciting new<br />
                design projects.<br />
                <br />
                Send your CV to: <br /> 
                jobs@fraichedesign.com
                </p>
                </div>
            
                <div class="grid_3 dotted-border-top">
                <h2>Follow</h2>
                <p>
                <br />
                Like us & keep up-to-date on all of our design <br />finds and project updates<br />
                <br />
                </p>
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FFraiche-Design%2F365204836854533%23&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
                </div>
            
            </div>
            
            <div id="copyright" class="grid_12">
            <p>{{ helper:date format="Y" }} {{ settings:site_name }}, all rights reserved</p>
            </div>