<div id="site_info">
    <div id="small-links">
    	<ul>
        	<li><a href="{{ url:base }}">Home</a></li>
            <li><a href="{{ url:base }}about">About</a></li>
            <li><a href="{{ url:base }}blog">Blog</a></li>
            <li><a href="{{ url:base }}clients">Clients</a></li>
            <li><a href="{{ url:base }}team">Team</a></li>
            <li><a href="{{ url:base }}contact">Contact</a></li>
        </ul>
    </div>
</div>
<div id="site_navigation" class="clearfix">
	<ul>
	{{ navigation:links group="header" }}
	</ul>
</div>
